html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #324376;

}

main {
    width: 70%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.headTrivia {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.catQuestion {
    text-transform: uppercase;
    font-size: 10px;
}

.question {
    text-transform: uppercase;
    font-size: 2em;
}

.diffQuestion {
    text-transform: uppercase;
    font-size: 8px;
}

.btn {
    width: 50%;
    margin: 20px auto;
    margin-bottom: 10px;
}


li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    width: 80%;
}

li:nth-child(even) {
    margin-top: 10px;
}

li:nth-child(odd) {
    margin-top: 10px;
}



li:hover {
    background-color: #495867;
    color: white;
    cursor: pointer;
}

.question2 {
    padding: 50px;
    align-self: center;

}

.btn2 {
    align-self: center;
    width: 100%;
}