* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100&family=Outfit:wght@100&display=swap');

body {
    background-color: black;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Black Ops One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.logo {
    color: rgb(226, 223, 223);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #7D7367;
    transition: 0.5s;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}




.imgSection {
    height: 80vh;
    display: grid;
    grid-template-columns: 600px 300px;
    grid-template-rows: 2fr;
}

img {
    object-fit: contain;
    padding: 10px;
    max-width: 500px;
}

.imgFlex {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSection img:nth-child(odd) {
    margin-top: 230px;
}










@media only screen and (max-width: 1024px) {
    .nav-links {
        width: 40%;
    }
}



@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 8vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        transform: translateX(0%);
        transition: transform 0.2s ease-in;
    }

    .nav-links li {
        opacity: 0;
        margin: -250px;

    }

    .nav-links a:hover {
        color: #7D7367;
        transition: 0.5s;

    }



    .burger {
        display: block;
    }

    .imgSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }



    img {
        object-fit: contain;
        padding: 10px;
        max-width: 250px;
    }


}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.2s ease-in;
    background-color: black;

}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-44deg) translate(-5px, 6px);
    transition: 0.5s;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(44deg) translate(-5px, -6px);
    transition: 0.5s;
}